cvenv/Lib/site-packages/_distutils_hack/__init__.py
/cvenv
/application/aruco_ui/.dart_tool
/application/aruco_ui/.idea
/application/aruco_ui/android
/application/aruco_ui/build
/application/aruco_ui/ios
/application/aruco_ui/linux
/application/aruco_ui/macos
/application/aruco_ui/windows
/core/utils/aruco_data
charuco_board.png
charuco_calibration.npz
charuco_board.png
core/detection/__pycache__/detection.cpython-311.pyc
/core/detection/__pycache__
/core/detection/__pycache__
/core/detection/__pycache__
/core/detection/__pycache__
/core/server/__pycache__
application/aruco_ui/.metadata
application/aruco_ui/pubspec.lock
application/aruco_ui/pubspec.lock
/core/build
/core/__pycache__
/core/detection/__pycache__
/core/dist
core/main.spec
/core/server/__pycache__
/core/utils/__pycache__
service/service_installer.sh
core/utils/known_markers.json
build/ui/Analysis-00.toc
/build
ui.spec
/venv/
.DS_Store

